:root { 

//  ### Primary

  --clr-sapphire: hsl(232,	100%,	15%);
  --clr-selectiveYellow: hsl(43,	100%,	50%);
  --clr-valhalla: hsl(231,	25%,	21%);
  --clr-russian-Black: hsl(232,	71%,	4%);
  --clr-black: hsl(0,	0%,	0%);


//  ### Neutral

  --clr-sunglow: hsl(43,	100%,	62%);
  --clr-aliceBlue: hsl(202,	100%,	97%);
  --clr-stormGrey: hsl(231, 14%, 52%);
  --clr-pattensBlue: hsl(209, 58%, 92%);
  --clr-navyBlue: hsl(216, 92%, 50%);
  --clr-white: hsl(0, 0%, 100%);

// ### Typography

  --ff-poppins: 'Poppins', sans-serif;

  --fs-900: 3.25rem;
  --fs-800: 2.125rem;
  --fs-700: 1.75rem;
  --fs-600: 1.5rem;
  --fs-500: 1.375rem;
  --fs-400: 1.25rem;
  --fs-300: 1.125rem;
  --fs-200: 1rem;
  --fs-100: .875rem;
  --fs-050: .75rem;

  --fw-700: 700;
  --fw-600: 600;
  --fw-400: 400;
  --fw-300: 300;

  --br: .5em;

  // @media (min-width: 50em) {
  //   --fs-300: 3rem;
  // }
}

