/* ------------------- */
/* Custom Properties   */
/* ------------------- */

:root {
    /*  colors  */
    --clr-black: 0 0% 0%;
    --clr-light: 209 53% 92%;
    --clr-gray: 0 0% 80%;
    --clr-white: 0 0% 100%;

    /*  font-size  */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-100: 0.75rem;

    /*  font-families  */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/*  Box sizing  */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/*  Reset Margins  */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

/*  setup the body  */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-200);
    color: hsl( var(--clr-black) );
    background-color: hsl( var(--clr-white) );
    line-height: 1.5;
    min-height: 100vh;
}

/*  make images easier to work with  */
img,
picture {
    max-width: 100%;
    display: block;
}


/* make form elements easier to work with */
input,
button,
select,
textarea {
    font: inherit;
}



/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex-outer {
    display: flex;
    gap: var(--gap, 5rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    /* padding-inline: 2em; */
    margin-inline: auto;
    /* max-width: 80rem; */
}



  /*  Colors  */

    .bg-black {background-color: hsl( var(--clr-black) );}
    .bg-accent {background-color: hsl( var(--clr-light) );} 
    .bg-gray {background-color: hsl( var(--clr-gray) );}
    .bg-white {background-color: hsl( var(--clr-white) );}

    .bg-accent-alpha {background-color: hsl( var(--clr-light) / .2 );}

    .text-black {color: hsl( var(--clr-black) );}
    .text-accent {color: hsl( var(--clr-light) );} 
    .text-gray {color: hsl( var(--clr-gray) );}
    .text-white {color: hsl( var(--clr-white) );}


  /* typography */

    .ff-serif { font-family: var(--ff-serif); } 
    .ff-sans-cond { font-family: var(--ff-sans-cond); } 
    .ff-sans-normal { font-family: var(--ff-sans-normal); } 

    .letter-spacing-1 { letter-spacing: 4.75px; } 
    .letter-spacing-2 { letter-spacing: 2.7px; } 
    .letter-spacing-3 { letter-spacing: 2.35px; } 

    .uppercase { text-transform: uppercase; }

    .fs-700 { font-size: var(--fs-700); }
    .fs-600 { font-size: var(--fs-600); }
    .fs-500 { font-size: var(--fs-500); }
    .fs-400 { font-size: var(--fs-400); }
    .fs-300 { font-size: var(--fs-300); }
    .fs-200 { font-size: var(--fs-200); }
    .fs-100 { font-size: var(--fs-100); }


    .fs-900,
    .fs-800,
    .fs-700,
    .fs-600 {
        line-height: 1.1;
    }

    .bold {
        font-weight: bold;
    }

    .underline {
        text-decoration: underline;
    }

    .italic {
        font-style: italic;
    }

    /* .photo {
        outline: 2px solid hsl( var(--clr-white));
    } */

    .info {
        min-width: 15rem;
    }

    .info__description > div {
        margin-top: .7rem;
    }

    .info__description > h3 {
        margin-top: 1.5rem;
    }

    .info__description > h4 {
        margin-top: 1.2rem;
    }

    .info__description > ul {
        margin: 0;
        padding-left: -50px;
        list-style-type:disc;
    }

    .info__list {
        margin-top: 2px;
        margin-left: -20px;
    }


    .contact {
        background-color: #4a4e69;
        color: white;
        padding: 30px 0;
        width: 100%;
    }
    .contact-icon {
        height: 20px;
    }
    
    .contact h4 {
        margin-bottom: 20px;
    }
    
    .contact ul {
        list-style: none;
    }
    
    .contact a {
        display: block;
        color: white;
        margin: 5px 0;
        font-size: 14px;
        font-weight: 100;
    }
    
    .contact a:hover {
        
        color: #c9ada7;
    }
    
    
    
    .contact-links__media {
        display: flex;
        list-style-type: none;
        margin-left: -35px;
    }
    
    
    .contact-links__media li+li {
        margin-left: 10px;
    }



    /* tasks */

    .lessons__link {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 1.2rem 0;
        margin-bottom: 15px;
    }

    .lessons__link:hover,
    .lessons__link:focus {
        background-color: hsl( var(--clr-light) );
    }